{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.5.1"}
        crypto-random/crypto-random {:mvn/version "1.2.1"}
        crypto-equality/crypto-equality {:mvn/version "1.0.0"}
        commons-codec/commons-codec {:mvn/version "1.15"}
        at.favre.lib/bcrypt {:mvn/version "0.9.0"}
        com.lambdaworks/scrypt {:mvn/version "1.4.0"}}}
